.food-display{
   margin-top: 30px;

}
.food-display h2{
   font-size: max(24px, 2.5vw);
   font-weight: 600;
}
.food-display-list{
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}